# Cleaning

In [1]:
# Importing

import pandas as pd
import numpy as np

path = "houses_moreinfo.csv"

df = pd.read_csv(path)

In [2]:
df.head()

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine,8420,Oostend,West Flanders,163000.0,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,NaN,NaN,NaN,NaN,2023.0,NaN,GAS,0,155.0
1,2784938,Heist-aan-Zee,8301,Brugge,West Flanders,108000.0,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,NaN,NaN,NaN,NaN,2023.0,NaN,GAS,0,170.0
2,4679861,Oostende,8400,Oostend,West Flanders,330000.0,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,NaN,1.0,NaN,NaN,NaN,B,NaN,0,65.0
3,5650273,Dilsen-Stokkem,3650,Maaseik,Limburg,535000.0,HOUSE,APARTMENT_BLOCK,FOR_SALE,NaN,...,0,NaN,NaN,NaN,NaN,1988.0,B,GAS,0,0.0
4,6349237,Corswarem,4257,Waremme,Liège,NaN,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [6]:
# Change name of places to lower
def format_name(x):
    return x.lower()

df["city"] = df.city.apply(format_name)
df["district"] = df.district.apply(format_name)
df["province"] = df.province.apply(format_name)

# Substitute 0 for Nan
df.replace(0, np.nan, inplace=True)

In [10]:
# Drop rows with life_annuity == 1
life_annuity = df.query("life_annuity == 1").index

df.drop(life_annuity, inplace=True)

df.shape

(44908, 33)

In [15]:
# Drop where price is NaN
df.dropna(subset=['price'], inplace=True)

In [16]:
# Drop useless columns
df.drop(['life_annuity', 'has_balcony', "sale_type", "type_sale" ], axis=1, inplace=True)

In [17]:
df.shape

(43522, 29)

# Start exploring

In [18]:
df.shape

(43522, 29)

In [19]:
# Missing values
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing

id                     0.000000
city                   0.000000
postal_code            0.000000
district               0.000000
province               0.000000
price                  0.000000
subtype                0.000000
state_construction    27.976655
living_area           14.599513
terrace_area          75.318230
garden_area           72.462203
rooms                 73.181380
bedrooms               2.525160
bathrooms             13.914802
livingroom_surface    61.118515
kitchen_surface       64.493819
facades               20.863012
has_garden            66.456045
kitchen               43.888149
furnished             98.750057
fireplace             80.979734
swimmingpool          97.063554
has_terrace           51.155737
has_attic             72.239327
has_basement          60.734801
construction_year     44.811819
epc                   19.645237
heating               32.532972
area_total            11.823905
dtype: float64

In [30]:
def IQR (column):
    quartiles = df[column].quantile([0.25, 0.75])
    iqr = quartiles[0.75] - quartiles[0.25]
    return print(iqr)

price_iqr = IQR("price")
area_iqr = IQR("area_total")

276000.0
739.0