In [2]:
import pandas as pd
import plotly as py

In [3]:
df = pd.read_csv('../data/raw/houses_moreinfo.csv')

In [4]:
df.head()

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine ...,8420,Oostend,West Flanders,163000,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,155
1,2784938,Heist-aan-Zee ...,8301,Brugge,West Flanders,108000,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,170
2,4679861,Oostende ...,8400,Oostend,West Flanders,330000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,1,,,,B,,0,65
3,5650273,Dilsen-Stokkem ...,3650,Maaseik,Limburg,535000,HOUSE,APARTMENT_BLOCK,FOR_SALE,,...,0,,,,,1988,B,GAS,0,0
4,6349237,Corswarem ...,4257,Waremme,Liège,,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,,...,0,,,,,,,,0,

In [5]:
df.columns

Index(['id       ', 'city                                               ',
       'postal_code ', 'district          ', 'province          ', 'price    ',
       'type_sale       ', 'subtype              ', 'sale_type ',
       'state_construction ', 'living_area ', 'terrace_area ', 'garden_area ',
       'rooms ', 'bedrooms ', 'bathrooms ', 'livingroom_surface ',
       'kitchen_surface ', 'facades ', 'has_garden ', 'kitchen ', 'furnished ',
       'fireplace ', 'swimmingpool ', 'has_balcony ', 'has_terrace ',
       'has_attic ', 'has_basement ', 'construction_year ', 'epc    ',
       'heating  ', 'life_annuity ', 'area_total'],
      dtype='object')

In [6]:
df.columns = df.columns.str.strip()
df.columns

Index(['id', 'city', 'postal_code', 'district', 'province', 'price',
       'type_sale', 'subtype', 'sale_type', 'state_construction',
       'living_area', 'terrace_area', 'garden_area', 'rooms', 'bedrooms',
       'bathrooms', 'livingroom_surface', 'kitchen_surface', 'facades',
       'has_garden', 'kitchen', 'furnished', 'fireplace', 'swimmingpool',
       'has_balcony', 'has_terrace', 'has_attic', 'has_basement',
       'construction_year', 'epc', 'heating', 'life_annuity', 'area_total'],
      dtype='object')

In [7]:
# get all the rows where the swimmingpool is not 0
has_swimmingpool = df[df['swimmingpool'] != 0]
count_has_swimmingpool = has_swimmingpool['swimmingpool'].count()
count_has_swimmingpool

1281

In [17]:
# get all the rows where has_balcony is not 0
has_balcony_non_zero = df[(df['has_balcony'].notnull()) & (df['has_balcony'] != 0)]
has_balcony_non_zero_count = has_balcony_non_zero['has_balcony'].count()
has_balcony_non_zero_count
has_balcony_non_zero.head()

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine ...,8420,Oostend,West Flanders,163000,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,155
1,2784938,Heist-aan-Zee ...,8301,Brugge,West Flanders,108000,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,170
2,4679861,Oostende ...,8400,Oostend,West Flanders,330000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,1,,,,B,,0,65
3,5650273,Dilsen-Stokkem ...,3650,Maaseik,Limburg,535000,HOUSE,APARTMENT_BLOCK,FOR_SALE,,...,0,,,,,1988,B,GAS,0,0
4,6349237,Corswarem ...,4257,Waremme,Liège,,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,,...,0,,,,,,,,0,

In [19]:
has_balcony_non_zero_or_null = df[(df['has_balcony'].notnull()) & (df['has_balcony'] != 0)]

has_balcony_non_zero_or_null

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine ...,8420,Oostend,West Flanders,163000,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,155
1,2784938,Heist-aan-Zee ...,8301,Brugge,West Flanders,108000,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,170
2,4679861,Oostende ...,8400,Oostend,West Flanders,330000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,1,,,,B,,0,65
3,5650273,Dilsen-Stokkem ...,3650,Maaseik,Limburg,535000,HOUSE,APARTMENT_BLOCK,FOR_SALE,,...,0,,,,,1988,B,GAS,0,0
4,6349237,Corswarem ...,4257,Waremme,Liège,,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,,...,0,,,,,,,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45059,11157656,Hoboken ...,2660,Antwerp,Antwerp,535000,HOUSE,HOUSE,FOR_SALE,TO_BE_DONE_UP,...,0,,1,,,1986,D,GAS,0,630
45060,11157657,Hoboken ...,2660,Antwerp,Antwerp,569000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,,,,1988,B,GAS,0,623
45061,11157661,Hemiksem ...,2620,Antwerp,Antwerp,425000,HOUSE,MIXED_USE_BUILDING,FOR_SALE,TO_RENOVATE,...,0,,,,1,1954,D,GAS,0,422
45062,11157680,Wilrijk ...,2610,Antwerp,Antwerp,429000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,,,,1956,D,FUELOIL,0,282
45063,11157693,Wichelen ...,9260,Dendermonde,East Flanders,395000,HOUSE,HOUSE,FOR_SALE,AS_NEW,...,0,,1,1,,2024,,,0,418

In [20]:
has_balcony_one = df[df['has_balcony'] == 1]
has_balcony_one

Empty DataFrame
Columns: [id, city, postal_code, district, province, price, type_sale, subtype, sale_type, state_construction, living_area, terrace_area, garden_area, rooms, bedrooms, bathrooms, livingroom_surface, kitchen_surface, facades, has_garden, kitchen, furnished, fireplace, swimmingpool, has_balcony, has_terrace, has_attic, has_basement, construction_year, epc, heating, life_annuity, area_total]
Index: []

[0 rows x 33 columns]