In [10]:
import pandas as pd
import plotly as py

In [11]:
df = pd.read_csv('../data/raw/houses_moreinfo.csv')

In [12]:
df.head()

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine ...,8420,Oostend,West Flanders,163000,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,155
1,2784938,Heist-aan-Zee ...,8301,Brugge,West Flanders,108000,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,,,,,2023,,GAS,0,170
2,4679861,Oostende ...,8400,Oostend,West Flanders,330000,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,,1,,,,B,,0,65
3,5650273,Dilsen-Stokkem ...,3650,Maaseik,Limburg,535000,HOUSE,APARTMENT_BLOCK,FOR_SALE,,...,0,,,,,1988,B,GAS,0,0
4,6349237,Corswarem ...,4257,Waremme,Liège,,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,,...,0,,,,,,,,0,

In [13]:
df.columns

Index(['id       ', 'city                                               ',
       'postal_code ', 'district          ', 'province          ', 'price    ',
       'type_sale       ', 'subtype              ', 'sale_type ',
       'state_construction ', 'living_area ', 'terrace_area ', 'garden_area ',
       'rooms ', 'bedrooms ', 'bathrooms ', 'livingroom_surface ',
       'kitchen_surface ', 'facades ', 'has_garden ', 'kitchen ', 'furnished ',
       'fireplace ', 'swimmingpool ', 'has_balcony ', 'has_terrace ',
       'has_attic ', 'has_basement ', 'construction_year ', 'epc    ',
       'heating  ', 'life_annuity ', 'area_total'],
      dtype='object')

In [15]:
df.columns = df.columns.str.strip()
df.columns

Index(['id', 'city', 'postal_code', 'district', 'province', 'price',
       'type_sale', 'subtype', 'sale_type', 'state_construction',
       'living_area', 'terrace_area', 'garden_area', 'rooms', 'bedrooms',
       'bathrooms', 'livingroom_surface', 'kitchen_surface', 'facades',
       'has_garden', 'kitchen', 'furnished', 'fireplace', 'swimmingpool',
       'has_balcony', 'has_terrace', 'has_attic', 'has_basement',
       'construction_year', 'epc', 'heating', 'life_annuity', 'area_total'],
      dtype='object')

In [19]:
# get all the rows where the swimmingpool is not 0
has_swimmingpool = df[df['swimmingpool'] != 0]
count_has_swimmingpool = has_swimmingpool['swimmingpool'].count()
count_has_swimmingpool

1281