In [22]:
import pandas as pd
import plotly as py

In [23]:
df = pd.read_csv('../data/raw/houses_moreinfo.csv')

In [24]:
df.head()

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
0,1882546,Wenduine,8420,Oostend,West Flanders,163000.0,HOUSE,CHALET,FOR_SALE,AS_NEW,...,0,NaN,NaN,NaN,NaN,2023.0,NaN,GAS,0,155.0
1,2784938,Heist-aan-Zee,8301,Brugge,West Flanders,108000.0,HOUSE,BUNGALOW,FOR_SALE,AS_NEW,...,0,NaN,NaN,NaN,NaN,2023.0,NaN,GAS,0,170.0
2,4679861,Oostende,8400,Oostend,West Flanders,330000.0,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,NaN,1.0,NaN,NaN,NaN,B,NaN,0,65.0
3,5650273,Dilsen-Stokkem,3650,Maaseik,Limburg,535000.0,HOUSE,APARTMENT_BLOCK,FOR_SALE,NaN,...,0,NaN,NaN,NaN,NaN,1988.0,B,GAS,0,0.0
4,6349237,Corswarem,4257,Waremme,Liège,NaN,HOUSE_GROUP,HOUSE_GROUP,FOR_SALE,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [25]:
df.columns

Index(['id', 'city', 'postal_code', 'district', 'province', 'price',
       'type_sale', 'subtype', 'sale_type', 'state_construction',
       'living_area', 'terrace_area', 'garden_area', 'rooms', 'bedrooms',
       'bathrooms', 'livingroom_surface', 'kitchen_surface', 'facades',
       'has_garden', 'kitchen', 'furnished', 'fireplace', 'swimmingpool',
       'has_balcony', 'has_terrace', 'has_attic', 'has_basement',
       'construction_year', 'epc', 'heating', 'life_annuity', 'area_total'],
      dtype='object')

In [26]:
df.columns = df.columns.str.strip()
df.columns

Index(['id', 'city', 'postal_code', 'district', 'province', 'price',
       'type_sale', 'subtype', 'sale_type', 'state_construction',
       'living_area', 'terrace_area', 'garden_area', 'rooms', 'bedrooms',
       'bathrooms', 'livingroom_surface', 'kitchen_surface', 'facades',
       'has_garden', 'kitchen', 'furnished', 'fireplace', 'swimmingpool',
       'has_balcony', 'has_terrace', 'has_attic', 'has_basement',
       'construction_year', 'epc', 'heating', 'life_annuity', 'area_total'],
      dtype='object')

In [27]:
# get all the rows where the swimmingpool is not 0
has_swimmingpool = df[df['swimmingpool'] != 0]
count_has_swimmingpool = has_swimmingpool['swimmingpool'].count()
count_has_swimmingpool

1281

In [28]:
# get all the rows where has_balcony is not 0
has_balcony_non_zero = df[(df['has_balcony'].notnull()) & (df['has_balcony'] != 0)]
has_balcony_non_zero_count = has_balcony_non_zero['has_balcony'].count()
has_balcony_non_zero_count
has_balcony_non_zero.head()

Empty DataFrame
Columns: [id, city, postal_code, district, province, price, type_sale, subtype, sale_type, state_construction, living_area, terrace_area, garden_area, rooms, bedrooms, bathrooms, livingroom_surface, kitchen_surface, facades, has_garden, kitchen, furnished, fireplace, swimmingpool, has_balcony, has_terrace, has_attic, has_basement, construction_year, epc, heating, life_annuity, area_total]
Index: []

[0 rows x 33 columns]

In [29]:
has_balcony_non_zero_or_null = df[(df['has_balcony'].notnull()) & (df['has_balcony'] != 0)]

has_balcony_non_zero_or_null

Empty DataFrame
Columns: [id, city, postal_code, district, province, price, type_sale, subtype, sale_type, state_construction, living_area, terrace_area, garden_area, rooms, bedrooms, bathrooms, livingroom_surface, kitchen_surface, facades, has_garden, kitchen, furnished, fireplace, swimmingpool, has_balcony, has_terrace, has_attic, has_basement, construction_year, epc, heating, life_annuity, area_total]
Index: []

[0 rows x 33 columns]

In [30]:
has_balcony_one = df[df['has_balcony'] == 1]
has_balcony_one

Empty DataFrame
Columns: [id, city, postal_code, district, province, price, type_sale, subtype, sale_type, state_construction, living_area, terrace_area, garden_area, rooms, bedrooms, bathrooms, livingroom_surface, kitchen_surface, facades, has_garden, kitchen, furnished, fireplace, swimmingpool, has_balcony, has_terrace, has_attic, has_basement, construction_year, epc, heating, life_annuity, area_total]
Index: []

[0 rows x 33 columns]

In [31]:
life_annuity_count = df[df['life_annuity'] == 1]
life_annuity_count

,id,city,postal_code,district,province,price,type_sale,subtype,sale_type,state_construction,...,swimmingpool,has_balcony,has_terrace,has_attic,has_basement,construction_year,epc,heating,life_annuity,area_total
95,9017998,Sprimont,4140,Liège,Liège,50000.0,HOUSE,HOUSE,FOR_SALE,NaN,...,0,NaN,1.0,NaN,NaN,NaN,E,FUELOIL,1,893.0
189,9357280,Aywaille,4920,Liège,Liège,35000.0,HOUSE,BUNGALOW,FOR_SALE,GOOD,...,0,NaN,1.0,NaN,NaN,1970.0,D,PELLET,1,346.0
308,9597562,Mouscron,7700,Mouscron,Hainaut,75000.0,HOUSE,HOUSE,FOR_SALE,AS_NEW,...,0,NaN,1.0,NaN,NaN,2013.0,B,GAS,1,265.0
320,9620925,Cerfontaine,5630,Philippeville,Namur,80000.0,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,NaN,NaN,1.0,1.0,NaN,F,NaN,1,170.0
341,9654794,Ciney,5590,Dinant,Namur,195000.0,HOUSE,HOUSE,FOR_SALE,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41772,11145312,HERBESTHAL,4710,Verviers,Liège,100000.0,HOUSE,HOUSE,FOR_SALE,TO_BE_DONE_UP,...,0,NaN,1.0,NaN,1.0,1900.0,G,FUELOIL,1,435.0
42067,11146386,Liège,4000,Liège,Liège,30000.0,HOUSE,HOUSE,FOR_SALE,TO_BE_DONE_UP,...,0,NaN,1.0,NaN,1.0,NaN,D,GAS,1,155.0
42873,11150032,Wondelgem,9032,Gent,East Flanders,60000.0,HOUSE,HOUSE,FOR_SALE,NaN,...,0,NaN,1.0,NaN,NaN,1930.0,NaN,GAS,1,177.0
43086,11150956,Argenteau,4601,Liège,Liège,62500.0,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,NaN,1.0,NaN,1.0,1966.0,G,FUELOIL,1,0.0
44515,11155701,Tournai,7540,Tournai,Hainaut,30000.0,HOUSE,HOUSE,FOR_SALE,GOOD,...,0,NaN,1.0,NaN,NaN,NaN,E,GAS,1,74.0